:root {
    --primary-color: #00C9A5;
    --secondary-color: #342946;
    --bg-color: #3F3452;
    --text-color: #F4E5FF;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Odibee Sans', cursive;
    font-size: clamp(1.1rem, 1rem + 1vw, 2rem);
    overflow: hidden;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    position: relative;
    flex-direction: column;
    gap: 3rem;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem black;
    width: 700px;
    max-height: max-content;
    margin: 1rem;
}

/* Header */
.content-header {
    text-align: center;
    height: max-content;
}

.header-title {
    color: var(--primary-color);
    text-transform: uppercase;
}

/* Main */
.battleground {
    justify-content: space-around;
}

.player,
.computer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.player-info,
.computer-info {
    align-self: center;
    text-align: center;
}

.player-image,
.computer-image {
    width: 150px;
    border-radius: 50%;
}

.damaged {
    animation: damaged 300ms;
}

@keyframes damaged {
    from {
        filter: 0;
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg)
    }

    to {
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        transform: rotate(20deg)
    }
}


.player-title,
.computer-title {
    transition: all 300ms ease-in-out;
}

.player i,
.computer i {
    font-size: clamp(1rem, 1rem + 3vw, 2rem);
}

.lifebar {
    position: relative;
    background: none;
    border: 1.5px solid var(--primary-color);
    padding: 0.5rem 3rem;
    width: 100%;
    border-radius: 9999px;
}

.lifebar::after {
    content: 'LIFE';
    position: absolute;
    font-size: 1rem;
    inset: 0;
    color: red;
    font-weight: bold;
}

.lifebar .life {
    position: absolute;
    background: greenyellow;
    inset: 0;
    border-radius: 9999px;
    transform-origin: left;
    transition: all 300ms ease-in-out;
}

/* Functionalities */
.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.announcer {
    transition: all 300ms;
}


.versus-text {
    font-size: clamp(2rem, 7vw, 6rem);
}

.button {
    padding: 1rem 2rem;
    border-radius: 9999px;
    background: none;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.button:hover {
    background: var(--primary-color);
    color: black;
}


.gestures {
    position: relative;
    gap: 5rem;
    font-size: clamp(1rem, 1rem + 3vw, 2rem);
    align-self: center;
}

.gestures span {
    cursor: pointer;
}

.weapons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.weapon {
    transition: all 300ms ease-in-out;
}

.weapons span:not(:first-child) {
    display: none;
}

.arrow {
    transition: transform 200ms;
}

.arrow:active {
    transform: scale(1.5);
}

/* End Screen */
.end-screen {
    position: absolute;
    display: none;
    background: var(--bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border-radius: 0.7rem;
    padding: 2rem;
    opacity: 0;
    box-shadow: 0 0 1rem var(--primary-color), 0 0 9999px 9999px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
}

.end-screen *:not(:last-child) {
    margin-bottom: 3.5rem;
}